.title{
    font-weight: 700;
    font-size: 25px;
    height: 20%;

}
.bodyContainer{
    
    width: 80%;
    
    // background-color: aqua;

}
.body{
    display: flex;
    justify-content: center;

}
.accordion{
    margin-top:8% ;
    height: 20%;
}
.tabContainer{
    margin-top:5% ;
    height: 20%;
}